html {
  background-color: #aaa;
}

div#content-container video {
  position: inherit;
  display: block;
  padding: 0em;
  margin: 0em;
  width: 100%;
  height: auto;
  z-index: 1;
}

div#content-container img {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  z-index: 2;
  height: auto;
}

div.waltzLocationTip {
  position: absolute;
  text-align: center;
  bottom: 40px;
  width: 100%;
  height: auto;
  color: #eee;
  padding: 0.3em 1em 0.3em 1em;
  font-size: 2em;
  font-family: 'Roboto';
  font-weight: 900;
  letter-spacing: 0.05em;
  background: rgba(64, 64, 64, 0.2);
  pointer-events: none;
  z-index: 5;
}

div.imageNumberTip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  top: 25%;
  left: 50%;
  background: rgba(0, 0, 0, 0);
  padding: 0.1em 0.2em;
  font-family: 'Roboto';
  font-size: 8em;
  font-weight: 900;
  letter-spacing: -0.025em;
  color: rgb(255, 182, 12);
  text-shadow: 2px 1px 1px #000;
  pointer-events: none;
  z-index: 5;
}

::cue {
  height: auto;
  color: #ddd;
  padding: 0.3em 1em 0.3em 1em;
  font-size: 1em;
  font-family: 'Roboto';
  font-weight: 600;
  letter-spacing: 0.05em;
  background: rgba(64, 64, 64, 0.2);
  pointer-events: none;
  z-index: 5;
}